{% extends 'base.html' %}

{% block content %}

<div class="feed">

    {% for post in posts %}
    <div class="post-card">
        <div class="post-header">
            <strong>{{ post.user.username }}</strong>
        </div>

       <div class="post-image">
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="post image">
    {% endif %}

    {% if post.video %}
    <div class="video-container">
        <video width="100%" controls>
            <source src="{{ post.video.url }}">
            Your browser does not support the video tag.
        </video>
    </div>
{% endif %}
</div>

        <div class="post-body">
            <p><strong>{{ post.user.username }}</strong> {{ post.caption }}</p>
        </div>
    </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}

</div>

{% endblock %}